$item-gap: 16px;
$circle-size: 24px;
$line-width: 2px;
$blue: #1a73e8;
$gray: #9aa0a6;
$line: #dadce0;

$text: #202124;
$text-secondary: #5f6368;

.item {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.left {
  position: relative;
  width: 24px;
  flex-shrink: 0;
}

.circle {
  width: $circle-size;
  height: $circle-size;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 0;

  background: $gray;
  color: #fff;

  font-size: 12px;
  font-weight: 600;

  z-index: 2;
  position: relative;
}

.active .circle {
  background: $blue;
}

.completed .circle {
  background: $blue;
}

.line {
  position: absolute;
  top: $circle-size;
  left: calc(($circle-size - $line-width) / 2);

  width: $line-width;
  bottom: -32px;

  background: $line;
}

.completed .line {
  background: $blue;
}

.right {
  flex: 1;
  margin-left: $item-gap;
  padding-bottom: 36px;
}

.title {
  margin: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $text;
}

.description {
  margin-top: 6px;

  font-size: 15px;
  line-height: 28px;

  color: $text;
  max-width: 470px;
}

.content {
  margin-top: 16px;
}

.lastStep {
  .line {
    display: none;
  }
}